# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environments
venv/
env/
.tox/

# Django stuff
*.log
staticfiles/
media/

# Environment & secrets
.env
*.pem

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# IDE / editor files
*.vscode/
*.idea/
*.swp
